.public-layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-small);
    height: 44px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--left {
      width: 50vw;
      justify-content: space-around;
      align-items: center;
      span {
        margin-right: 5%;
      }
      .logo {
        padding-left: 0px;
        margin-top: -5px;
      }
    }

    &--rigth {
      width: 24vw;
      justify-content: space-around;
    }
  }
}
