.public-layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;

  &__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-small);
    height: 44px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--left {
      width: 50vw;
      justify-content: space-around;
      align-items: center;
      span {
        margin-right: 5%;
      }
      .logo {
        padding-left: 0px;
        margin-top: -5px;
      }
    }

    &--rigth {
      width: 24vw;
      justify-content: space-around;
    }
  }

  &__sidenav {
    position: fixed;
    height: 100%;
    width: 65vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--colors-white);
    overflow-x: hidden;
    padding-top: 24px;
    transition: transform 500ms ease-in;
    padding-left: 24px;

    button {
      background-color: transparent;
      border: none;
      padding: 0px 0px 24px 0px;
    }

    a {
      padding: 20px 8px 0px 0px;
      display: block;
      text-decoration: none;
      color: var(--colors-black);
      font-weight: bold;
    }

    &--closed {
      transform: translateX(-100%);
      transition: transform 500ms ease-out;
    }

    &--open {
      transform: translateX(0%);
      transition: transform 500ms ease-out;
    }
  }

  &__sidenav-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.5);
    overflow-x: hidden;
    transition: visibility 200ms, opacity 200ms;

    &--closed {
      opacity: 0;
      visibility: hidden;
    }

    &--open {
      opacity: 1;
      visibility: initial;
    }
  }
}
