:root {
  //Sizes
  --small: 440px;
  --s-medium: 570px;
  --medium: 761px;
  --large: 960px;
  --x-large: 1060px;
  --xx-large: 1250px;

  //Font Sizes
  --font-small: 14px;
  --font-s-medium: 16px;
  --font-medium: 18px;
  --font-large: 20px;

  // Colors
  --colors-white: #fcffff;
  --colors-black: #000000;
  --colors-gray: #8a919b;
  --colors-ligth-gray: #7c8898;
  --colors-background-color: #141519;
  --colors-background-color-card: #1f2630;
  --colors-orange: #fc7613;
  --colors-blue: #0000ff;
}
